<div class="container">
    <div class="accordion" id="interviewFeedbackExample">
        <div class="card">


            <div id="collapseTechnicalSection" aria-labelledby="TechSectionHeader" [hidden]="technicalSkillsSectionCollapsed" data-parent="#interviewFeedbackExample">
                <div class="card-body">
                    <div id="surveyContainer" class="survey-container contentcontainer codecontainer">
                        <div id="surveyElement"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- <div class="container">

    <div class="accordion" id="interviewFeedbackExample">
        <div class="card">
            <div class="card-header" id="TechSectionHeader" (click)="technicalSkillsSectionCollapsed =!technicalSkillsSectionCollapsed" [attr.aria-expanded]="!technicalSkillsSectionCollapsed">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button">
                            Rate Candidate Technical Skills
                        </button>
                </h2>
            </div>

            <div id="collapseTechnicalSection" aria-labelledby="TechSectionHeader" [hidden]="technicalSkillsSectionCollapsed" data-parent="#interviewFeedbackExample">
                <div class="card-body">
                    <div id="surveyElement"></div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="ManagerialSectionHeader" (click)="managerialSkillsSectionCollapsed = !managerialSkillsSectionCollapsed" [attr.aria-expanded]="!managerialSkillsSectionCollapsed">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button">
                        Rate Candidate Managerial Skills
                    </button>
                </h2>
            </div>

            <div id="collapseManagerialSection" aria-labelledby="ManagerialSectionHeader" [hidden]="managerialSkillsSectionCollapsed" data-parent="#interviewFeedbackExample">
                <div class="card-body">
                    <!-- <label>1. Does the candidate have the communication for this role? </label><br>
                    <label>2. Does the candidate have the organizational fit for this role? </label> -->

<!-- </div>
            </div>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="col-4"></div>
                <button class="btn btn-primary col-1" style="margin: 5px;" type="button">Submit</button>

                <button class="btn btn-secondary col-1" style="margin: 5px;" type="button">Reset</button>
            </div>
        </div>

    </div> -->